/* Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@font-face {
    font-family: 'KaoriGel';
    src: url(./assets/font/KaoriGel.ttf) format('truetype');
}

body {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: lightcoral;
    font-family: 'KaoriGel', 'Noto Sans JP', sans-serif;
}

.main-flex {
    display: flex;
    flex-direction: column;

    text-align: center;
}
.main-flex h1 {
    margin: 0px;
}
#logo-main {
    width: 30%;
    min-width: 280px;
    max-width: 360px;
}

#button {
    width: 64px;
    padding: 4px;
    margin: auto;

    filter: drop-shadow(0 0 2px white) hue-rotate(180deg);
    -webkit-user-drag: none;
    -webkit-user-select: none;

    transition: ease-in-out 250ms;
}
#button:hover {
    transform: scale(1.250, 1.250);
}
#button:active {
    transform: scale(0.9, 0.9);
    /* transition: ease-out 50ms; */
    transition: 0ms;
}
#button:active:after {
    transition: ease-in-out 20ms;
}

button {
    background-color: lightpink;
    padding: 4px 6px;
    border: 1px solid black;
    border-radius: 4px;

    font-family: 'KaoriGel';
    font-style: bold;
    font-size: 16px;
}

#mainDisplay {
    /* margin-top: 12px;
    margin-bottom: 12px; */
    margin: 0;

    font-size: 20px;
}
#mainDisplay p {
    margin-top: 12px;
    margin-bottom: 12px;
}

#statistics {
    margin-top: 22px;
    margin-bottom: 22px;
    margin-right: auto;
    margin-left: auto;

    padding: 6px;
    width: 40%;
    max-width: 540px;
    min-width: 260px;

    background-color: lightpink;
    border: 1px;
    border-color: rgb(29, 29, 29);
    border-style: solid;
    border-radius: 8px;
}
#statistics p {
    margin: 6px;
}

#footerSpace {
    height: 80px;
}

#copyright {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 8px;

    bottom: 0;
    left: 0;
    right: 0;

    background-color: lightpink;
    text-align: center;

    border-top: 1px solid black;

    font-size: 12px;
}
#copyright button {
    font-size: 10px;
    margin-left: 32px;
}
