@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@font-face {
    font-family: 'KaoriGel';
    src: url(./assets/KaoriGel.ttf) format('truetype');
}
@font-face {
    font-family: 'KaoriGelBold';
    src: url(./assets/KaoriGelBold.ttf) format('truetype');
}

body {
    margin: 0;
    background-color: lightcoral;
    font-family: 'KaoriGel', 'Noto Sans JP', sans-serif;
}

.main-flex {
    display: flex;
    flex-direction: column;

    text-align: center;
}

#copyright {
    font-size: 12px;
}
