@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body {
    --font-main: 'M PLUS Rounded 1c';
    background-color: lightcoral;
    font-family: var(--font-main), sans-serif;

    text-align: center;
}

#copyright {
    font-size: 12px;
}

#infoBox {
    display: none;
    background-color: lightpink;
    width: 30%;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: aliceblue;
}
